html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }

body {
    margin: 0;
    padding: 0;

    text-align-all: center;
}

#cabecalho {
    display: flow;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid black;
    margin-top: 0px; /* Ajuste o espaçamento superior conforme necessário */
    margin-bottom: 5px;
    text-align: center; /* Centralize o conteúdo horizontalmente */
}


#cabecalho img {
    margin-bottom: 0px;
}

#cabecalho h1 {
    margin-top: 0px;
}

p {
    margin-bottom: 5px;
    text-align: center; /* Centralize o texto horizontalmente */
}

#conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

form {
    border: 1px solid black;
    width: 500px;
    padding: 20px;
}
