<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity - Postagens</title>
    <link rel="icon" href="/static/images/Infinity_icone.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <style>
        body {
            background-color: #333; /* Cor de fundo escura para a página */
            color: #fff; /* Cor do texto na página */
        }
    </style>

</head>
<body>
<h1></h1>
<a href="/login" class="btn btn-success">Login</a>
<a href="/nova_postagem" class="btn btn-success">Nova postagem</a>

</body>
</html>
